name: Hub Merged Rewards

on:
  schedule:
    - cron: "30 4 * * *"   # 10:00 AM IST
    - cron: "30 5 * * *"   # 11:00 AM IST
    - cron: "30 11 * * *"  # 5:00 PM IST
    - cron: "30 12 * * *"  # 6:00 PM IST
  workflow_dispatch:

jobs:
  run-merged-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Merged Rewards Script
        run: python g_hub_merged_rewards_updated.py

      - name: Send Email with Log
        run: python send_email_with_log.py
        env:
          SMTP_SERVER: ${{ secrets.SMTP_SERVER }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
          SMTP_USERNAME: ${{ secrets.SMTP_USERNAME }}
          SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
          SMTP_FROM: ${{ secrets.SMTP_FROM }}
          SMTP_TO: ${{ secrets.SMTP_TO }}
